.clear{
    clear: both;
}

/**块级元素转换成行内元素*/
.change_inline-block{
    display: inline-block
}

.gamelogoimgsmall{
    width: 10px;
    height: 10px;;
}

.imgW15H15{
    width: 15px;
    height: 15px;
}

/**隐藏元素 */
.hide{
    display: none;
}

/**显示元素 */
.show{
    display: block;
}

.gamelogoimgtop{
    width: 25px;
    height: 25px;
}
.gamelogoimg20px{
    width: 20px;
    height: 20px;;
}
.gamelogoimgbar{
    width: 130px;
    height: 40px;
}
.gamelogoimgmiddle{
    width: 60px;
    height: 60px;
}
.selected{
    color: #9BA96B;
}
/*高度为10px*/
.h2{
    height: 1px;
}
/*bgcolor_cccccc*/
.bgcolor_cccccc{
    background-color: #cccccc;
}
/** bg 21,126,130 */
.bgcolor_21-126-130{
    /*background: rgba(21,126,130,1);*/
    background: #157E82;
    opacity: 1;
}
/** bg 38,77,142 */
.bgcolor_38-77-142{
    /*background: rgba(38,77,142,1);*/
    background: #264D8E;
    opacity: 1;
}
/** bg 243,140,0 */
.bgcolor_243-140-0{
    /*background: rgba(243,140,0,1);*/
    background:#F38C00;
    opacity: 1;
}
/** bg 240,70,70 */
.bgcolor_240-70-70{
    /*background: rgba(240,70,70,1);*/
    background: #F04646;
    opacity: 1;
}
/**bg 1A1A1A*/
.bgcolor_1A1A1A{
    background: #1A1A1A;
}
/**bf 262626*/
.bgcolor_262626{
    background: #262626;
}
/**bg 323333*/
.bgcolor_323333buttombor0px{
    background: #323333;
    border-bottom: 0px solid gray;
}
/**1px solid gray*/
.bor1px_solid_gray{
    border: 1px solid gray;
}
/** fond fffffff  */
.font_ffffff{
    color: #ffffff;
}
/** font_000000*/
.font_000000{
    color: #000000;
}
/** bg 240,70,70 */
.fondcolor_243-140-0{
    /*color: rgba(243,140,0,1);*/
    color: #F38C00;
}
/** bg 240,70,70 */
.fondcolor_255-255-255{
    /*color: rgba(255,255,255,1);*/
    color: #ffffff;
}
/** bg 176,167,133 */
.fondcolor_176-167-133{
    /*color: rgba(176,167,133,1);*/
    color: #B0A785;
}
/** fondcolor_6D6D6D*/
.fond_6D6D6D{
    color: #6D6D6D;
}
/** fondcolor_#FDF794 */
.fond_FDF794{
    color: #FDF794;
}
/** fondcolor_#FF9A1F*/
.fond_FF9A1F{
    color:#FF9A1F;
}
/** font_FD8004*/
.font_FD8004{
    color: #FD8004;
}
/** font_FD7C00 */
.font_FD7C00{
    color: #FD7C00;
}
/** fondsize_12px */
.fondsize_10px{
    font-size: 10px;
}
/** fondsize_14px */
.fondsize_14px{
    font-size: 11px;
}
.fontsize_25px{
    font-size: 25px;
}
/** 77,77,77 */
.bgcolor_77-77-77{
    /*background: rgba(77,77,77,1);*/
    background: #4D4D4D;
    opacity: 1;
}
/** informationimg */
/*.informationimg{*/
    /*width: 90%;*/
    /*height: 45%;*/
/*}*/

/** bgcolor_FFC482*/
.bgcolor_FFC482{
    background: #FFC482;
}
.mrleftandright-15px{
    margin-left: 15px;
    margin-right: 15px
}
.bgranking_01{
    background: url("../../images/common/ranking_01.png") no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}
.bgranking_02{
    background: url("../../images/common/ranking_02.png") no-repeat;
     background-size:100% 100%;
    -moz-background-size:100% 100%;
}
.bgranking_03{
    background: url("../../images/common/ranking_03.png") no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}
.bgranking_04{
    background: url("../../images/common/ranking_04.png") no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}
.bgrankinglist_04{
    background: url("../../images/common/ranginglist_04.png") no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}
.logo{
    background: url("../../images/common/user_img_01.png") no-repeat;
    background-repeat:no-repeat; background-size:100% 100%;
    -moz-background-size:100% 100%;
    border: 0 solid white;
    border-radius: 150px;
}
.personalimgbg{
    background: url("http://localhost:8080/ccnb/img/headimg.jp") no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    border: 1px solid white;
}
.personalmemberimgbg{
    background: url("../../images/personalPage/treammemberimg04.png") no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    border: 1px solid white;
}
.bgtrophy_img01{
    background: url("../../images/personalPage/trophy_img01.png") no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}
.personalimgbg03{
    background: url("../../images/personalPage/personal_img03.png") no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    border: 0px solid white;
}